// Definindo as variáveis CSS personalizadas
:root {
  --font-size-xxs: 3.052rem;
  --font-size-xs: 2.441rem;
  --font-size-sm: 31.25px;
  --font-size-md: 1.563rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1rem;
  --font-size-xxl: 0.8rem;
  --font-size-small: 0.64rem;
  --font-size-xsmall: 0.512rem;
}
