@font-face {
  font-family: "Georgia";
  src: url("/src/assets/georgia.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Roman";
  src: url("/src/assets/Avenir-Roman.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Book";
  src: url("/src/assets/Avenir-Book.ttf") format("truetype");
}
